div{
   align-items: center; 
}
ul{
    list-style: none;
    display: inline;
    padding: 2em;
    margin: 2em;
}
img {
    align-items: center;
    width:13em; 
    height: auto;
    margin: 1.5em;
    padding: 1em;
    margin-bottom: .2em;
}
li {
    text-align: center;
    list-style: none;
}