<div>
  <h2>Mission Statement</h2>
  <p class="statement">
    Sed venenatis mauris urna, sit amet molestie quam egestas vitae. <br>
   Mauris arcu leo, consectetur sed purus eget, convallis placerat risus.<br>
    Maecenas a pretium nisl. Phasellus et ornare justo, eleifend aliquam <br>
    lacus. Aenean malesuada tortor eu ipsum faucibus venenatis. Ut sed purus<br>
    blandit tortor commodo tempor. Vivamus arcu felis, placerat vitae convallis<br>
    eu, condimentum et ante. Aenean vel fermentum mi, vel efficitur lorem. <br>
    Praesent dapibus elit mi, vitae sodales arcu egestas a. <br>
  </p>
</div>
 
