<div class="product">

  <div class="photos">
    <div>
      <ul>     
        <li><img src="/assets/photos/watch1.jpg" alt="A silver watch with black background "></li>
        <li><strong>{{ productList[0].productName }}</strong></li>
        <li>{{ productList[0].productDiscription }}</li>
      </ul>     
    </div>

    <div>
      <ul>
        <li><img src="assets/photos/watch2.jpg" alt="A black watch with fire background "></li> 
        <li><strong>{{ productList[1].productName }}</strong></li>
        <li>{{ productList[1].productDiscription }}</li>
      </ul>     
    </div>

    <div>
      <ul> 
        <li><img src="assets/photos/watch3.jpg" alt="Two white watches "></li>
        <li><strong>{{ productList[2].productName }}</strong></li>
        <li>{{ productList[2].productDiscription }}</li>
      </ul>     
    </div>  

  </div>
 
</div>

